body{
  font-family: 'Droid Sans', sans-serif;
  background-color: #F7F7F7;
}
form{
  display: table;
}
input, label{
  display: table-cell;
}
.navigation li{
  list-style-type: none;
  float: right;
  padding: 10px;
}
img.logo{
  width: 25px;
}
.nav, .navbar{
  margin-bottom: 3%;
}
.nav li {
  font-size: 20px;
}
.nav a, a{
  color: black;
}
.nav a:hover{
  border-radius: 0px;
}
a:hover{
  text-decoration: none;
  color: #023056;
}
.introText{
  width: 80%;
  margin-left: 10%;
  border: 5px solid white;
  margin-top: 20%;
  padding: 25px;
  background-color: rgba(0,0,0,0.6);
  color: white;
}
.introText h1{
  font-family: 'Mada', sans-serif;
  font-size: 80px;
  text-align: center;
}
.introText p{
  font-size: 20px;
}
.announcement{
  padding: 2px;
  background-color: rgba(255, 0, 0, 0.6);
  border: 2px solid #ff0000;
}
.announcement p{
  padding-top: 8px;
  padding-left: 10px;
}
.intro{
  position: relative;
  margin-top: 2%;
}
.introText{
  position: absolute;
}
.btn, .btn-default{
  border: 3px solid black;
  border-radius: 0px;
  font-weight: bolder;
  color: black;
}
.btn-default:hover{
  background-color: white;
  border-radius: 0px;
  color: #023056;
  border: 3px solid #023056;
}
.propertyList img{
  width: 200px;
  margin-left: 20%;
  margin-top: 15px;
}
.well {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: white;
  border: none;
  border-radius: 0px;
}
.well h2{
  font-size: 20px;
}
.well:hover{
  opacity: 0.8;
}
.tileImage{
  position: relative;
}
.imageAbove{
  position: absolute;
}
.imageAbove h2{
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 190px;
  padding: 10px;
  margin-top: 110px;
}
