<div class="container">
  <!-- <nav class="navbar navbar-default"> -->
    <div class="container-fluid">
      <div class="navbar-brand">
        {{#link-to 'index'}}<img class="logo" src="https://maxcdn.icons8.com/iOS7/PNG/50/Animals/dog_house-50.png">{{/link-to}}
      </div>
      <ul class="nav nav-pills">
        <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        <li>{{#link-to 'announcement-display'}}Annoucements{{/link-to}}</li>
      </ul>
    </div>
  <!-- </nav> -->

  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our reps would love to help!{{/link-to}}
  </footer>
</div>
