<div class="intro">
  <h1> Welcome to Super Rentals </h1>
  <p>Super Rentals is your go-to website to find your dream rental! From apartments to townhouses, Super Rentals offers you a variety of housing options that will suite your needs.</p>
</div>

{{latest-announcement announcement=latestAnnouncement}}

<ul>
  {{#each rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}
